<launch>
    <arg name="ns" default="/" />
    <arg name="image" default="image_raw" />
    <arg name="max_det" default="1" />

<group ns="$(arg ns)" >
    <node pkg="yolov7_ros" type="detect_ros.py" name="detect" output="screen"
    ns="yolov7">
        <!-- Download the official weights from the original repo -->
        <param name="weights_path" type="str"
        value="$(find yolov7_ros)/weight/drone/yolov7-tiny-droneF450FieldtestObj13ADD.pt"/>
        <!-- value="$(find yolov7_ros)/weight/drone/yolov7-drone-f450-ft-add.pt"/> -->
        <!-- value="$(find yolov7_ros)/weight/drone/yolov7-drone.pt"/> -->
        <!-- value="$(find yolov7_ros)/weight/drone/yolov7-tiny-drone-f450.pt"/> -->
        <!-- value="$(find yolov7_ros)/weight/drone/yolov7-tiny-droneF450FieldtestObj13.pt"/> -->
        <!-- value="$(find yolov7_ros)/weight/drone/yolov7-tiny-drone-gazebo.pt"/> -->
        <!-- value="$(find yolov7_ros)/weight/drone/yolov7-tiny-drone.pt"/> -->
        <!-- Path to a class_labels.txt file containing your desired class labels. The i-th entry corresponds to the i-th class id. For example, in coco class label 0 corresponds to 'person'. Files for the coco and berkeley deep drive datasets are provided in the 'class_labels/' directory. If you leave it empty then no class labels are visualized.-->
        <param name="classes_path" type="str" value="$(find yolov7_ros)/class_labels/drone.txt" />
        <!-- topic name to subscribe to -->
        <param name="img_topic" type="str" value="$(arg image)" />
        <!-- topic name for the detection output -->
        <param name="out_topic" type="str" value="yolov7" />
        <!-- confidence threshold -->
        <param name="conf_thresh" type="double" value="0.42" />
        <param name="max_det" type="int" value="$(arg max_det)" />
        <!-- intersection over union threshold -->
        <param name="iou_thresh" type="double" value="0.45" />
        <!-- queue size for publishing -->
        <param name="queue_size" type="int" value="1" />
        <!-- image size to which to resize each input image before feeding into the
        network (the final output is rescaled to the original image size) -->
        <param name="img_size" type="int" value="640" />
        <!-- flag whether to also publish image with the visualized detections -->
        <param name="visualize" type="bool" value="true" />
        <!-- 'cuda' or 'cpu' -->
        <param name="device" type="str" value="cuda" />
    </node>
</group>
</launch>
